<main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron mt-5">
        <div class="container">
          <h1 class="display-3">VALIDATION DES EVENT_SUBMISSIONS</h1>
          <button class="btn btn-danger pe-none">Valide ... valide pas ?</button>
        </div>
      </div>

      <div class="container mt-5">
        <!-- Example row of columns -->
        <div class="row">

          <div class="col-md-6 bg-light">

            <h2>TOUS LES EVENTS</h2>

              <ol class="list-group list-group-numbered">
                <% @all_events.order(id: "asc").each do |event| %>
                  <li class=" d-flex justify-content-between align-items-start mt-5">
                    <div class="ms-2 me-auto">
                      <div class="fw-bold "> <%= event.title %> <%= event.title %>
                      </div>
                    <%#= link_to 'voir', event_path(event.id), class:"btn btn-warning" %>
                  </li>
                <% end %>
              </ol>

          </div>

          <div class="col-md-6 border border-5">

            <h2>EVENTS A VALIDER</h2>

              <ol class="list-group list-group-numbered">
                <% @events_to_validate.each do |event| %>
                  <li class=" d-flex justify-content-between align-items-start mt-5">
                    <div class="ms-2 me-auto">
                      <div class="fw-bold "> <%= event.id %> <%= event.title %> <%= link_to "Validation", admin_event_submission_path(event.id), class:"btn btn-info" %>
                      </div>
                    <%#= link_to 'voir', event_path(event.id), class:"btn btn-warning" %>
                  </li>
                <% end %>
              </ol>

          </div>

        </div>

        <hr>

      </div> <!-- /container -->

    </main>